.banner{
   margin: 0px;
    width: 100vw;
    height: 300px;
    background-image: url("./flowers.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

.nav{
    display: flex;   // 
}


// .placeholdercol
// {
//     background-color: black;
// }

// .img1
// {
//     width: 100%;
// }

// .productpage
// {
//     @include flexcontainer(column,no_wrap);
//     justify-content: space-evenly;

// }

body{
    padding: 0px;
    margin: 0px;
}